@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap");
:root {
    --mainPrimaryColor: #ffffff;
    --mainSecondaryColor: rgb(255, 5, 5);
    --mainTertiaryColor: #111111;
    --mainTextColor: #444444;
    --mainSecondaryLightColor: rgb(255, 77, 77);
    --mainFontFamily: "Exo 2", sans-serif;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.25 ease-out;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.profile_image {
    object-fit: cover!important;
}

.input_gender {
    width: 50px!important;
}

.account_balance {
    font-size: 24px;
    font-weight: bold;
}

.sidebar_dark .metismenu .active>a {
    color: #fff;
}


/*Page edit modal*/

.page_loading_modal {
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 100%!important;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 110000000000;
}

.wrapper_loading {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle_loading {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(248, 152, 152);
    left: 15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0%;
    }
}

.circle_loading:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
    background-color: rgb(248, 73, 61);
}

.circle_loading:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
    background-color: #f93a00;
}

.overlay_div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(202, 202, 202, 0.815);
    transition: 800ms ease;
    z-index: 10000000000000000;
    overflow: auto;
    width: 100%;
    cursor: pointer;
}

.overlay_div::-webkit-scrollbar {
    width: 0px;
    background: #777;
}

.overlay-close {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(70, 49, 49, 0.6);
    transition: 800ms ease;
    z-index: 1000;
    overflow: auto;
    width: 100%;
    cursor: pointer;
}

.overlay-close::-webkit-scrollbar {
    width: 0px;
}

.overlay_div .modal-dialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: 800ms ease;
    z-index: 2000;
    overflow: auto;
    width: 100%;
}

.overlay-close::-webkit-scrollbar {
    width: 0px;
}

.overlay_div .modal-dialoge::-webkit-scrollbar {
    width: 0px;
}

.overlay_div .modal-dialog {
    max-width: 58%;
    width: 58%;
}

.profile_div .header {
    background: transparent!important;
}

.profile_page_form input[type='radio'] {
    width: 30px;
}

.dasboard_boxes {
    margin-top: 20px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
}

.dasboard_box {
    position: relative;
    box-shadow: rgba(68, 88, 144, 0.1) 0px 10px 29px 0px;
    text-align: center;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out 0s;
}

.dasboard_boxes .dasboard_box .d-flex {
    color: var(--mainSecondaryLightColor);
    justify-content: center;
    align-content: center!important;
    align-self: center!important;
}

.select_button {
    color: #555555;
    background-color: #ffffff;
    border-color: #ececec;
    padding: 6px 18px;
}

@media screen and (max-width:950px) {
    .dasboard_boxes {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .dasboard_boxes .dasboard_box .d-flex {
        justify-content: center;
        align-content: center!important;
        align-self: center!important;
    }
}

@media screen and (max-width: 765px) {
    .overlay_div .modal-dialog {
        max-width: 88%;
        width: 88%;
    }
}

@media screen and (max-width: 540px) {
    .overlay_div .modal-dialog {
        max-width: 98%;
        width: 98%;
    }
}

@media screen and (max-width:450px) {
    .dasboard_boxes {
        grid-template-columns: 1fr;
    }
    .dasboard_boxes .dasboard_box .d-flex {
        justify-content: center;
        align-content: center!important;
        align-self: center!important;
    }
}